
body {
    font-family: Tahoma;
    color: #444;
    letter-spacing: 1px;
}

h1,
h2 {
    font-weight: normal;
}

#wrapper {
    width: 90%;
    max-width: 960px;
    margin: 20px auto;
    border-radius: 6px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding: 0 0 20px;
    overflow: hidden;
    border: 1px solid lightgray;
}

#page-banner {
    background: #e62424;
    padding: 10px 0;
}

#page-banner h1,
#page-banner p {
    width: 100%;
    text-align: center;
    margin: 10px 0;
    color: whitesmoke;
}

#page-banner input {
    width: 90%;
    max-width: 300px;
    margin: 20px auto;
    display: block;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #444;
}

#article-list li {
    padding: 20px;
    border-left: 5px solid #ddd;
    margin: 20px 10px;
}

#article-list li:hover {
    border-color: #e62424;
}

.read-article {
    float: right;
    background: green;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

.btn.read-article:hover {
    background: #24e695;
}


.btn.whatsapp, .btn.mail, .btn.read-article{
    background-color: #e62424;
}

.menu-content li{
    color: #e62424;
}

.dropdown {
    position: relative;
    display: inline-block; /* Ensures menu stays inline */
  }

  .menu-content {
    display: none; /* Hide menu by default */
    position: absolute; /* Position menu relative to toggle button */
    background-color: #fff;
    min-width: 150px; /* Set minimum width for menu */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Add slight shadow */
    z-index: 1; /* Ensure menu appears above other elements */
  }

  .login-form {
    display: none;
  }

  .menu-content.show {
    display: block; /* Show menu on click */
  }

  .menu-content {
    top: 100%; /* Position menu below toggle button */
    left: 0; /* Align menu to left side of screen */
    width: 100%; /* Make menu full width on small screens */
  }

  .show {
    display: block;
}